<section class="exercises__content">
  <h2 class="visually-hidden">Exercises Catalog Section</h2>
  <div class="container">
    <section class="exercises__content__header">
      <h2 class="visually-hidden">Exercises Category Section</h2>
      <div class="exercises__content__header-top">
        <div class="exercises__content__header-breadcrumbs" id="js-exercises-breadcrumbs">
          <button
            class="favorites-title"
            data-breadcrumb="exercises">Exercises</button>
        </div>
      </div>
      <div class="exercises__content__header-filters">
        <div class="exercises__content__header-search" id="js-exercises-search">
          <input type="text" class="exercises__content__header-search-input" id="js-exercises-search-input"
            placeholder="Search...">
          <svg class="exercises__content__header-search-icon" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.25 14.25C11.5637 14.25 14.25 11.5637 14.25 8.25C14.25 4.93629 11.5637 2.25 8.25 2.25C4.93629 2.25 2.25 4.93629 2.25 8.25C2.25 11.5637 4.93629 14.25 8.25 14.25Z"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M15.75 15.75L12.4875 12.4875" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <ul class="exercises__content__header-filters-list">
          <li>
            <button class="exercises__content__header-filters-item exercises__content__header-filters-item--active" data-filter="Muscles">Muscles</button>
          </li>
          <li>
            <button class="exercises__content__header-filters-item" data-filter="Body parts">Body parts</button>
          </li>
          <li>
            <button class="exercises__content__header-filters-item" data-filter="Equipment">Equipment</button>
          </li>        
        </ul>      
      </div>
    </section>
    <section class="exercises__content__main">
      <h3 class="visually-hidden">Main Exercises Content</h3>
      <aside class="exercises__content__main__aside">
        <div class="exercises__content__main__aside__quote">
          <img src="/img/svg/runner-icon-light.svg" alt="Quote">
          <div class="exercises__content__main__aside__quote-content">
            <div class="exercises__content__main__aside__quote-title">
              <span class="exercises__content__main__aside__quote-title-text">Quote of the day</span>
              <img src="/img/svg/quote-icon.svg" alt="Quote">
            </div>
            <p class="exercises__content__main__aside__quote-text" id="js-exercises-quote-text"></p>
            <div class="exercises__content__main__aside__quote-author" id="js-exercises-quote-author"></div>
          </div>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./img/aside-444.webp 1x,
              ./img/aside-888.webp 2x">
            <img src="./img/aside-444.webp"
                srcset="
                  ./img/aside-444.webp 1x,
                  ./img/aside-888.webp 2x" height="242" alt="Exercise image" class="exercises__content__main__aside__image" loading="lazy">  
        </picture>
        

        <aside class="exercises__content__main__aside__norm">
          <img src="/img/svg/norm-icon.svg" alt="Norm icon">
          <div class="exercises__content__main__aside__norm-context">
            <span class="exercises__content__main__aside__norm-context-title">110 min</span><br>
            <span class="exercises__content__main__aside__norm-context-subtitle">Daily norm of sports</span>
            <p class="exercises__content__main__aside__norm-context-text">
              The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical
              activity throughout
              the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day?
              While it might
              seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled
              benefits to
              physical health, mental well-being, and overall quality of life.
            </p>
          </div>
        </aside>
      </aside>
      <aside class="exercises__content__main__cards-container">
        <div class="exercises__content__main__cards"></div>
        <div class="exercises__content__pagination"></div>
      </aside>
    </section>
  </div>  
</section>