<aside class="fav-aside">
  <div class="fav-aside__quote">
    <div class="fav-aside__quote-container">
      <div class="fav-aside__quote-icon-runner">
        <img src="/img/svg/runner-icon-light.svg" alt="Runner" width="20" height="20">
      </div>
      <div class="fav-aside__quote-content">
        <div class="fav-aside__quote-header">
          <h3 class="fav-aside__quote-title">Quote of the day</h3>
          <img class="fav-aside__quote-icon-mark" src="/img/svg/quote-icon.svg" alt="Quote" width="24" height="24">
        </div>
        
        <p class="fav-aside__quote-text" id="js-exercises-quote-text">
          </p>
        <div class="fav-aside__quote-author" id="js-exercises-quote-author">
          </div>
      </div>
    </div>
  </div>
  <div class="fav-aside__row">
    <div class="fav-aside__norm">
      <div class="fav-aside__norm-header">
         <img src="/img/svg/norm-icon.svg" alt="Norm" width="20" height="20">
      </div>
      <div class="fav-aside__norm-content">
        <span class="fav-aside__norm-value">110 min</span>
        <span class="fav-aside__norm-label">Daily norm of sports</span>
      </div>
    </div>
    <div class="fav-aside__image-box">
      <picture>
        <source type="image/webp" srcset="./img/aside-444.webp 1x, ./img/aside-888.webp 2x">
        <img src="./img/aside-444.webp" alt="Exercise" class="fav-aside__img">
      </picture>
    </div>
  </div>
</aside>