<div class="container">
  <div class="global-notification" id="js-global-notification">
  <div class="global-notification__content">
    <span class="global-notification__text" id="js-global-notification-text"></span>
    <button class="global-notification__close" id="js-global-notification-close" aria-label="Close notification">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4L4 12M4 4L12 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</div>
</div>